/* Contains the hole body */
.main {
  align-items: center;
  align-content: center;
  background-color: rgba(9, 9, 34, 0.658);
  margin: 20vw;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
}

/* Contains the buttons that are displayed as a block */
.inputblock {
  display: block;
  margin: 1pc;
}

/* Custom button configuration */
.custom-file-upload {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 5, 0.473);
  transition: 0.3s;
}

.custom-file-upload:hover {
  border: 4px solid #ccc;
  background-color: rgba(0, 0, 5, 0.932);
}

#file-selected {
  color: rgb(177, 177, 177);
}

/* Hides ugly default elements */
input[type="file"] {
  display: none;
}

input[type="submit"] {
  display: none;
}
